<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1>About Me</h1>
    <img id="about-me" src="/images/pfp.jpg" alt="picture of me" class="img-fluid rounded-circle mb-4 " style="max-width: 200px;">
    <p>I’m someone who believes that coding is not just for “tech geniuses,” but for anyone willing to learn, practice, and stay consistent. 
        <br> 
        Like many beginners, I once felt confused by where to start, what to learn, and whether I was even capable of understanding code. 
        This blog was born from that phase—to share what I learn, what works, and what doesn’t, in simple and honest terms.
        <br>
        I use this space to write about coding, career growth, and the mindset needed to survive the learning curve. 
        My goal is to make technology feel less intimidating and more approachable, especially for beginners.
        <br>
        If you’re starting from zero, feeling stuck, or looking for clarity in your coding journey, you’re in the right place. 
        This blog grows as I grow—and you’re welcome to be part of that journey.</p>
        <br>

    <p>Feel free to explore my posts and connect with me. Thank you for visiting!</p>
</div>

<%- include('partials/footer.ejs') %>