<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1>About Me</h1>
    <img src="" alt="">
    <p>Welcome to my Blog! Here, I share insights, stories, and updates about various topics. 
        Our mission is to provide valuable content to our readers and foster a community of engaged individuals.</p>
    <p>Feel free to explore our posts, leave comments, and connect with us. Thank you for visiting!</p>
</div>

<%- include('partials/footer.ejs') %>