<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1>Contact Me</h1>
    <main class="form-signin m-auto"> 
    <form action="/contact" method="post">  

        <div class="form-floating"> 
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Name"> 
            <label for="floatingInput">Name</label>
            <div id="emailHelp" class="form-text">We never share your data with anyone else.</div> 
        </div> 
        <br>
        <div class="form-floating"> 
            <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="Email"> 
            <label for="floatingEmail">Email</label> 
        </div> 
        <br>
        <div class="form-check text-start"> 
            <label for="content" class="form-label">Message</label>
            <textarea class="form-control" id="content" name="message" rows="10" required></textarea> 
        </div> 
        <br>
        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button> 
    </form> 
</main>

<%- include('partials/footer.ejs') %>