<%- include('partials/header') %>

<body class="container mt-5">

    <h1>Welcome to My Blog</h1>
    <p>This is a simple blog built with Node.js and Express.</p>

    <h2>Posts</h2>
    <ul> 
        <li>Starting as a web developer</li>
        <li>creating new Web-apps</li>
        <li>learning JavaScript</li>
        <li>building responsive websites</li>
        <li>deploying applications</li>
    </ul>
    <%- include('partials/footer') %>
    
</body>
